<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="#" class="w3-bar-item w3-button w3-red w3-mobile"><i class="fa fa-plane w3-margin-right"></i>Logo</a>
  <a href="#rooms" class="w3-bar-item w3-button w3-mobile">Flights</a>
  <a href="#about" class="w3-bar-item w3-button w3-mobile">About</a>
  <a href="#contact" class="w3-bar-item w3-button w3-mobile">Contact</a>
  <a href="#contact" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">Book Now</a>
</div>
<!-- Header -->
<header class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src='Flight.jpg' alt="The Hotel" style="min-width:1000px" width="1500" height="800">
  <div class="w3-display-left w3-padding w3-col l6 m8">
    <div class="w3-container w3-red">
      <h2><i class="fa fa-plane w3-margin-right"></i>Schedul Now </h2>
    </div>
    <div class="w3-container w3-white w3-padding-16">
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-calendar-o"></i> Departure Date</label>
	      <input class="w3-input w3-border" input type="datetime-local" name="Dep_Time" id="Dep_Time" required="required">
          </div>
          <div class="w3-half">
            <label><i class="fa fa-calendar-o"></i> Arrival Date</label>
            <input class="w3-input w3-border" <input type="datetime-local" name="Arrival_Time" id="Arrival_Time" required="required">
          </div>
        </div>
        <div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-male"></i> Source</label>
            <input class="w3-input w3-border">
		 <select name="Source" id="Source" required="required">
                                <option value="Delhi">Delhi</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                  </select> 
	   </div>
          <div class="w3-half">
            <label><i class="fa fa-child"></i> Destination</label>
          <input class="w3-input w3-border">
		<select name="Destination" id="Destination" required="required">
                                <option value="Cochin">Cochin</option>
                                <option value="Delhi">Delhi</option>
                                <option value="New Delhi">New Delhi</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Kolkata">Kolkata</option>
                 </select>
          </div>
		<div class="w3-row-padding" style="margin:8px -16px;">
          <div class="w3-half w3-margin-bottom">
            <label><i class="fa fa-male"></i> Stops </label>
            <input class="w3-input w3-border">
		 <select name="stops" required="required">
                                <option value="0">Non-Stop</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                  </select>
	   </div>
          <div class="w3-half">
            <label><i class="fa fa-child"></i> Airline</label>
          <input class="w3-input w3-border">
		<select name="airline" id="airline" required="required">
                                <option value="Jet Airways">Jet Airways</option>
                                <option value="IndiGo">IndiGo</option>
                                <option value="Air India">Air India</option>
                                <option value="Multiple carriers">Multiple carriers</option>
                                <option value="SpiceJet">SpiceJet</option>
                                <option value="Vistara">Vistara</option>
                                <option value="Air Asia">Air Asia</option>
                                <option value="GoAir">GoAir</option>
                                <option value="Multiple carriers Premium economy">Multiple carriers Premium economy
                                </option>
                                <option value="Jet Airways Business">Jet Airways Business</option>
                                <option value="Vistara Premium economy">Vistara Premium economy</option>
                                <option value="Trujet">Trujet</option>
                  </select>
          </div>
        </div>
        <button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Check Price </button>
      </form>
	<h1>{{ prediction_text }}</h1>
    </div>
  </div>
</header>

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<br>
        <br>
        <p>©2021 Kunal Deore</p>

</body>
</html>